.features-header {
    min-height: max(90vh, 700px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-inline: 1.5rem;
    padding-top: 2rem;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('../../public/images/soccer field.jpg');
    background-size: cover;
    background-position: center 45%;
    margin-bottom: 2rem;
}

.features-header h2 {
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 3px;
    flex-shrink: 0;
}

.features-header p {
    font-size: 0.9rem;
    color: var(--color-text);
    line-height: 145%;
    font-weight: 500;
    flex-shrink: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 1.5rem;
}


.feature-item img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.feature-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    gap: 10px;
}

.feature-item:nth-child(odd) {
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
}

.features-list .feature-item h3 {
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-size: 1.5rem;
    font-weight: 600;
}

.features-list .feature-item p {
    font-size: 1rem;
    color: var(--color-text);
    line-height: 140%;
    font-weight: 500;
    max-width: 40ch;
}

@media screen and (min-width: 680px) {
    .features-list {
        padding-inline: 2rem;
    }

    .features-header {
        height: 90vh;
        padding-inline: 2.5rem;
    }

    .features-header h2 {
        font-size: 2rem;
    }

    .features-header p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .features-header {
        min-height: 80vh;
        align-items: flex-end;
        padding-right: 5rem;
        padding-bottom: 2rem;
        text-align: right;
        background-position: center 45%
    }

    .features-header h2 {
        font-size: 2.3rem;
    }

    .features-header p {
        font-size: 1.1rem;
        line-height: 150%;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 300px);
        gap: 2rem;
        padding: 3rem 5rem;
        place-items: center;
    }

    .features-list .feature-item:first-child {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .features-list .feature-item:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .features-list .feature-item:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .features-list .feature-item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .feature-item {
        padding: 1.5rem;
    }
}