footer {
    background-color: var(--color-text);
    position: sticky;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3.5rem;
    animation: zoom 3s linear forwards;
    -webkit-animation: zoom 3s linear forwards;
    animation-timeline: scroll();
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }

    90% {
        opacity: 0;
        transform: scaleX(0.6);
        -webkit-transform: scaleX(0.6);
        -moz-transform: scaleX(0.6);
        -ms-transform: scaleX(0.6);
        -o-transform: scaleX(0.6);
}

    to {
        opacity: 1;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }

}

footer img {
    height: 350px;
    object-fit: contain;
}

.footer-main-block {
    border-bottom: 2px solid var(--color-text-bright);
    display: flex;
    gap: 0.5rem;
    padding-bottom: 2rem;
    align-items: center;
}

footer h2 {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 900;
    font-family: var(--font-bold);
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-accent));
    background-clip: text;
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
}

footer p,
footer span {
    color: var(--color-background);
    font-size: 1.1rem;
    line-height: 140%;
    text-align: center;
    margin-inline: auto;
    font-weight: 600;
}