@import url('https://fonts.googleapis.com/css2?family=Anta&family=Righteous&display=swap');

:root {
    --color-background: #020003;
    --color-text: #a1887a;
    --color-text-bright: #FFF0C0;
    --color-primary: #f7b015;
    --color-secondary: #d3232c;
    --color-tertiary: #FAFF00;
    --color-accent: #02A9EA;
    --color-muted: #0b1d4e;
    --font-bold: "Anta", sans-serif;
    --font-main: "Righteous", sans-serif;
}

* {
    border: none;
    padding: none;
    margin: 0;
    background: transparent;
    font-family: var(--font-main);
    font-weight: 400;
    line-height: 120%;
    word-spacing: 1.8px;
    letter-spacing: 1.2px;
    color: var(--color-text-bright);
}

h2, h3, p {
    max-width: 45ch;
}